# Joining CSVs into a feather file (~1.3 GB)

In [10]:
import pandas as pd

DATA_SET_DIR = './instacart-market-basket-analysis'

orders = pd.read_csv(f'{DATA_SET_DIR}/orders.csv')
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [11]:
# The 'prior' csv contains all the products ordered in all orders
order_products = pd.read_csv(f'{DATA_SET_DIR}/order_products__prior.csv')
order_products

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [12]:
orders = pd.merge(orders, order_products, on='order_id', how='left')

orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...
32640693,2977660,206209,prior,13,1,12,7.0,38730.0,6.0,0.0
32640694,2977660,206209,prior,13,1,12,7.0,31477.0,7.0,0.0
32640695,2977660,206209,prior,13,1,12,7.0,6567.0,8.0,0.0
32640696,2977660,206209,prior,13,1,12,7.0,22920.0,9.0,0.0
32640697,272231,206209,train,14,6,14,30.0,NaN,NaN,NaN

In [13]:
del order_products

products = pd.read_csv(f'{DATA_SET_DIR}/products.csv')
orders = pd.merge(orders, products, on='product_id', how='left')
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,Soda,77.0,7.0
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32640693,2977660,206209,prior,13,1,12,7.0,38730.0,6.0,0.0,Brownie Crunch High Protein Bar,3.0,19.0
32640694,2977660,206209,prior,13,1,12,7.0,31477.0,7.0,0.0,High Protein Bar Chunky Peanut Butter,3.0,19.0
32640695,2977660,206209,prior,13,1,12,7.0,6567.0,8.0,0.0,Chocolate Peanut Butter Protein Bar,3.0,19.0
32640696,2977660,206209,prior,13,1,12,7.0,22920.0,9.0,0.0,Roasted & Salted Shelled Pistachios,117.0,19.0
32640697,272231,206209,train,14,6,14,30.0,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
del products

aisles = pd.read_csv(f'{DATA_SET_DIR}/aisles.csv')
orders = pd.merge(orders, aisles, on='aisle_id', how='left')

orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,Soda,77.0,7.0,soft drinks
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,soy lactosefree
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,popcorn jerky
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,popcorn jerky
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,paper goods
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32640693,2977660,206209,prior,13,1,12,7.0,38730.0,6.0,0.0,Brownie Crunch High Protein Bar,3.0,19.0,energy granola bars
32640694,2977660,206209,prior,13,1,12,7.0,31477.0,7.0,0.0,High Protein Bar Chunky Peanut Butter,3.0,19.0,energy granola bars
32640695,2977660,206209,prior,13,1,12,7.0,6567.0,8.0,0.0,Chocolate Peanut Butter Protein Bar,3.0,19.0,energy granola bars
32640696,2977660,206209,prior,13,1,12,7.0,22920.0,9.0,0.0,Roasted & Salted Shelled Pistachios,117.0,19.0,nuts seeds dried fruit
32640697,272231,206209,train,14,6,14,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
del aisles

departments = pd.read_csv(f'{DATA_SET_DIR}/departments.csv')
orders = pd.merge(orders, departments, on='department_id', how='left')

orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,Soda,77.0,7.0,soft drinks,beverages
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,soy lactosefree,dairy eggs
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,popcorn jerky,snacks
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,popcorn jerky,snacks
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,paper goods,household
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32640693,2977660,206209,prior,13,1,12,7.0,38730.0,6.0,0.0,Brownie Crunch High Protein Bar,3.0,19.0,energy granola bars,snacks
32640694,2977660,206209,prior,13,1,12,7.0,31477.0,7.0,0.0,High Protein Bar Chunky Peanut Butter,3.0,19.0,energy granola bars,snacks
32640695,2977660,206209,prior,13,1,12,7.0,6567.0,8.0,0.0,Chocolate Peanut Butter Protein Bar,3.0,19.0,energy granola bars,snacks
32640696,2977660,206209,prior,13,1,12,7.0,22920.0,9.0,0.0,Roasted & Salted Shelled Pistachios,117.0,19.0,nuts seeds dried fruit,snacks
32640697,272231,206209,train,14,6,14,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
orders.to_feather('products_and_orders.feather')